body {
  font-family: -apple-system,'Optima',BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji" !important; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}